/*general*/

.start,
.features,
.technologies-used {
  text-align: center;
  padding-bottom: 6em;
}

.section__title--features,
.section__title--technologies-used {
  font-weight: var(--fw-bold);
}

.section__title--start,
.section__title--technologies-used {
  margin-bottom: 1.2em;
}

.start__img,
.feature__img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 0 auto;
}

.feature,
.server-client {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*start section*/

.start {
  padding-top: 7em;
}

.start__img {
  margin-top: 2em;
}

.start__paragraph {
  text-align: left;
}

.section__title--start {
  font-weight: var(--fw-reg);
}

/*technologies-used section*/

.server-client {
  position: relative;
  border-radius: 35px;
  background: var(--clr-dark);
  color: var(--clr-light);
  padding: 2.5em;
  margin-top: 2em;
}

.server-client__title {
  margin-bottom: 0.7em;
}

@media (min-width: 1000px) {
  .server-client-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 2em;
  }

  .server-client {
    margin-bottom: 0;
  }
}

.server-client__list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/*features section*/

.section__title--features {
  margin-bottom: 1.5em;
}

.feature {
  position: relative;
  border-radius: 35px;
  background: var(--clr-dark);
  color: var(--clr-light);
  padding: 2.5em;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 90%;
}

.feature__text {
  margin-bottom: 0.7em;
  line-height: 1.4;
}

.feature__img {
  position: relative;
  margin-top: 2.2em;
}
